* {
  box-sizing: border-box;
}
#app {
  max-width: 640px;
  margin: 0 auto;
}
button {
  border: none;
  border-radius: 5px;
  line-height: 24px;
  padding: 0 8px;
  background: gray;
  color: #fff;
  cursor: pointer;
}

.Done {
  text-decoration: line-through;
  color: gray;
}
.add {
  background: #0099e4;
  height: 22px;
}

.tabs {
  height: 40px;
}
label {
  padding: 12px;
  background: gray;
  margin-right: 5px;
  color: #fff;
  border-radius: 5px;
}

.buttons button {
  margin-right: 10px;
}

.complete {
  background: #0099e4;
}
.delete {
  background-color: crimson;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -16px;
}
